.full-page {
  height: calc(100vh - 56px);
  width: 100vw;
}

.chat-bg {
  background-color: #f8f9fa;
}

.queue-bg {
  background-color: #f8f9fa;
}

.big-ass-add-btn {
  background-color: #fff;
  width: 100%;
  height: 100px;
}


// modal
.modal-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}

.modal-dark-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.modal-card {
  position: absolute;
  z-index: 2;
}

.video-search-card {
  cursor: pointer;
  background-color: #fafafa;
  &:hover {
    background-color: #e7ecef;
  }
}

// YouTube
.youtube-container {
  width: 100%;
  height: calc(((100vw * 7 ) / 12) * 9 / 16);
}

#youtube-iframe {
  width: 100%;
  height: 100%;
}

// player controls
.player-control {
  background-color: #000;
  width: 100%;
  // height: 2.5rem;
}

.progress-bar {
  width: 100%;
  height: .3rem;
  background-color: #232323;
}

.play-btn {
  cursor: pointer;
  width: 2.3rem;
  height: 1.7rem;
  margin: .3rem;
  border-radius: .4rem;

  i {
    color: #fff;
    font-size: 2rem;

    &:hover {
      color: red;
    }
  }
}
